{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!--layout css연결링크-->
  <link href="{% static 'everyone/layout.css' %}" rel="stylesheet">
  <!--board css연결링크-->  
  <link href="{% static 'everyone/board.css' %}" rel="stylesheet">
  <!--introduce css연결링크-->  
  <link href="{% static 'everyone/introduce.css' %}" rel="stylesheet">
  <!--sign in css연결링크-->  
  <link href="{% static 'everyone/signin.css' %}" rel="stylesheet">
  <!--sign up css연결링크-->  
  <link href="{% static 'everyone/signup.css' %}" rel="stylesheet">

  
  <title>LIKELION × SKHU</title>
</head>

<body>
  <!--비유저-->
  <nav class="navbar">
    <a class="navbar-brand" id="likelion" href="#">LIKELION</a>
    <strong>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#">소개</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">로그인/회원가입</a>
        </li>
      </ul>
    </strong>
  </nav>

  <!-- 유저-->
  <!--<nav class="navbar">
    <a class="navbar-brand" id="likelion" href="#">LIKELION</a>
    <strong>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#">소개</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">지원서(합격자조회)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">로그아웃</a>
        </li>
      </ul>
    </strong>
  </nav> -->

  <!--운영진-->
  <!-- <nav class="navbar">
      <a class="navbar-brand" id="likelion" href="#">LIKELION</a>
      <strong>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="#">소개</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">게시판</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">지원서목록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">합격자목록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">로그아웃</a>
          </li>
        </ul>
      </strong>
    </nav> -->
  
  
  {% block content %}
  {% endblock %}

  <!--footer-->
  <footer>
    <div class="footer">
      <strong><p>Copyright &copy; LIKELION × SKHU</p></strong>
      <a href="https://www.facebook.com/SkhuLion/">LIKELION × SKHU FACEBOOK</a>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>