{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{% static 'everyone/main.css' %}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>LIKELION × SKHU</title>
  </head>
  <body>
    <nav class="main-nav">
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">INTRODUCE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-head">LIKELION × SKHU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">BOARD</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">LOGIN/SIGNUP</a>
            </li>
            <!--로그아웃 버튼-->
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">LOGOUT</a>
            </li> -->
          </ul>
    </nav>
    <header>
        <img class="header-lion" src="https://cdn.pixabay.com/photo/2015/01/30/10/16/lion-617365_1280.jpg">
        <div class="main-header-text">
            <h1 class="main-nav-h1">Welcome</h1>
            <h1 class="main-nav-h2">LIKELION <a id="detail">×</a> SKHU</h1> 
        </div>
    </header>
    <article id="main-introduce">
        <div class="int-executive">멋쟁이 사자처럼 at 성공회대학교 <br>8기 운영진</div>
        <div class="main-int-executive">
            <div class="main-int-exe">
                <img class="main-int-exe-img" src="https://data.silhouette-ac.com/data/thumbnails/64/642ae2b5f2879e5c0a11703cc3c121d4_t.jpeg">
                <br>
                <a id="main-int-exe-name">함진경</a>
                <br>
                <a id="main-int-exe-con">전공 : 컴퓨터공학과</a>
                <br>
                <a id="main-int-exe-con">학번 : 16학번</a>
                <br>
                <a id="main-int-exe-con">인스타 : @jelly_lover</a>
            </div>
            <div class="main-int-exe">
                    <img class="main-int-exe-img" src="https://data.silhouette-ac.com/data/thumbnails/64/642ae2b5f2879e5c0a11703cc3c121d4_t.jpeg">
                    <br>
                    <a id="main-int-exe-name">윤다혜</a>
                    <br>
                    <a id="main-int-exe-con">전공 : IT융합자율학부</a>
                    <br>
                    <a id="main-int-exe-con">학번 : 19학번</a>
                    <br>
                    <a id="main-int-exe-con">인스타 : @pa_pi_poo</a>
            </div>
            <div class="main-int-exe">
                    <img class="main-int-exe-img" src="https://data.silhouette-ac.com/data/thumbnails/64/642ae2b5f2879e5c0a11703cc3c121d4_t.jpeg">
                    <br>
                    <a id="main-int-exe-name">유혜지</a>
                    <br>
                    <a id="main-int-exe-con">전공 : IT융합자율학부</a>
                    <br>
                    <a id="main-int-exe-con">학번 : 19학번</a>
                    <br>
                    <a id="main-int-exe-con">인스타 : @hyeeeji_0317</a>
            </div>
            <div class="main-int-exe">
                    <img class="main-int-exe-img" src="https://data.silhouette-ac.com/data/thumbnails/64/642ae2b5f2879e5c0a11703cc3c121d4_t.jpeg">
                    <br>
                    <a id="main-int-exe-name">이광현</a>
                    <br>
                    <a id="main-int-exe-con">전공 : IT융합자율학부</a>
                    <br>
                    <a id="main-int-exe-con">학번 : 19학번</a>
                    <br>
                    <a id="main-int-exe-con">인스타 : @gwanghyeon4753</a>
            </div>
            <div class="main-int-exe">
                    <img class="main-int-exe-img" src="https://data.silhouette-ac.com/data/thumbnails/64/642ae2b5f2879e5c0a11703cc3c121d4_t.jpeg">
                    <br>
                    <a id="main-int-exe-name">김수현</a>
                    <br>
                    <a id="main-int-exe-con">전공 : IT융합자율학부</a>
                    <br>
                    <a id="main-int-exe-con">학번 : 19학번</a>
                    <br>
                    <a id="main-int-exe-con">인스타 : @sss4920</a>
            </div>
        </div>
    </article>
    <footer>
      <div class="footer">
        <p>Copyright &copy; LIKELION × SKHU</p>
        <a href="https://www.facebook.com/SkhuLion/">LIKELION FACEBOOK</a>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>