{% extends 'everyone/layout.html' %}
{% block content %}
<article id="signin">
    <div class="signin-header">
        <a id="signin-LL">LIKELION</a> <a>× SKHU</a>
    </div>
    <div class="signin-contents">
        <div><input class="signin-id" placeholder="아이디"></div>
        <div><input class="signin-pw" type="password" placeholder="비밀번호"></div>
        <div><button type="submit"><strong>로그인</strong></button></div>
        <div><a href="#"><button><strong>회원가입</strong></button></a></div>
    </div>
</article>
{% endblock %}